*{
    box-sizing: border-box;
}
body{
    color: var(--dark);
    font-family: 'DM Sans', sans-serif !important;
}
p{
    color: var(--body-font);
    line-height: 25.6px;
    margin-bottom: 0px;
}
p.regular{
    line-height: 25.6px;
}
a{
    text-decoration: none;
    color: var(--dark);
}
span, a, p, div, button{
    font-size: var(--p);
    line-height: 100%;
}
button{
    border: none;
}
h1, h1 span{
    font-size: var(--h1);
}
h2, h2 span{
    font-size: var(--h2);
    line-height: 57.6px;
    font-weight: 600;
}
h3{
    font-size: var(--h3);
    font-weight: 600;
    line-height: 48px;
}
h4{
    font-size: var(--h4);
}
h5{
    font-size: var(--h5);
    font-weight: 500;
    line-height: 33.6px;
}
h6{
    font-size: var(--h6);
    line-height: 28px;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'GeneralSans-Variable' !important;
    color: var(--dark);
    margin-bottom: 0px;
}
.short-title, .title{
    font-family: 'GeneralSans-Variable' !important;
}
.nav-dropdown-items{
    display: flex;
    gap: 30px;
}
.nav-dropdown-items i{
    font-size: 13px;
}
.nav-dropdown-items .use-case .dropdown-menu{
    max-width: 360px !important;
}
.nav-dropdown-items .use-case.services .dropdown-menu{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    max-width: 600px !important;
    list-style-position: inside;
}
.custom-service-dropdown-menu.show{
    display: flex;
}
.nav-dropdown-items .dropdown-menu{
    border: 1px solid var(--border) !important;
    border-radius: 4px !important;
    padding: 10px !important;
    margin-top: 20px !important;
}
.dropdown-item-image{
    flex-grow: 1;
}
.dropdown-item-image img{
    min-width: 54px;
    min-height: 54px;
}
.dropdown-item:active {
    background-color: white !important;
    color: var(--body-font);
}
.cursor{
    cursor: pointer;
}
.nav-dropdown-items .dropdown-menu li{
    padding-top: 12.5px !important;
    padding-bottom: 12.5px !important;
}
.select-language .dropdown-menu{
    margin-top: 20px !important;
    max-width: 125px !important;
    width: 125px !important;
}
.select-language .dropdown-menu li a{
    padding-top: 9px !important;
    padding-bottom: 9px !important;
}
.nav-dropdown-items .custom-service-dropdown-menu div a{
    margin-top: 12.5px;
    margin-bottom: 12.5px;
}
.nav-dropdown-items .dropdown-menu li a, .nav-dropdown-items .dropdown-menu a{
    display: flex;
    gap: 15px;
    justify-content: space-between;
}
.nav-dropdown-items .dropdown-menu li a p.bold-nav-text, .nav-dropdown-items .dropdown-menu a p.bold-nav-text{
    font-size: 20px;
    color: var(--dark);
    font-weight: 500;
    margin-bottom: 5px;
}
.service-left-options, .service-right-options{
    display: flex;
    flex-direction: column;
}
.pointer{
    cursor: pointer;
}

.other-nav-tool{
    display: flex;
    gap: 22px;
    align-items: center;
}

.nav-section{
    height: 70px;
    display: flex;
    align-items: center;
}

.other-nav-tool button{
    background-color: var(--primary);
    border-radius: 4px;
    padding: 17px 25px;
    border: none;
}

.select-language{
    font-size: 20px;
    background-color: var(--white-200);
    border-radius: 4px;
    width: 50px;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    max-width: 100%;
}

.footer{
    margin-top: 120px;
    background-color: var(--dark);
}

.footer-content .top-section{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 55px;
    border-bottom: 1px solid #2A3650;

}
.footer-content .top-section .enter-email{
    display: flex;
    max-width: 375px;
}

.footer-content .top-section .enter-email input{
    border: 1px solid #4D5E84;
    background: #1E2739;
    border-radius: 4px;
    flex-grow: 1;
    color: var(--body-font);
    outline: none;
    text-align: center;
}

.footer-content .top-section .enter-email .subscribe{
    background-color: var(--primary);
    width: 139px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    font-weight: 500;
    border-radius: 0px 4px 4px 0px;
    color: var(--dark);
}

.download-option{
    display: flex;
    gap: 20px;
}

footer .body-section{
    margin-top: 55px;
    margin-bottom: 55px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

footer.footer p.regular, footer.footer p.regular a{
    color: #74809B;
}

.address-section, .mail-section, .phone-section{
    display: flex;
    gap: 20px;
    align-items: center;
    padding-top: 15px;
}

.address-section i{
    color: var(--light-red);
}
.mail-section i{
   color: var(--light-purple);
}
.phone-section i{
    color: var(--light-green);
}

.icon-content{
    background: rgba(255, 239, 235, 0.1);
    border-radius: 4px;
    min-width: 35px;
    min-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-body-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-body-item .section-title{
    padding-bottom: 20px;
}

.footer-body-item .section-title .primary-title{
    color: var(--primary);
}

footer .address-content{
    max-width: 320px;
}

.copy-right-section{
    border-top: 1px solid #2A3650;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
    padding-bottom: 30px;
}

.follow-option{
    display: flex;
    gap: 15px;
    align-items: center;
}

.follow-option .social-media-logo{
    background-color: var(--primary);
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}