
.hero-section{
    background-color: var(--white-200);
    padding-top: 90px;
    text-align: center;
    height: 1055px;
}
.hero-section h1{
    line-height: 81.6px;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 600;
}
.hero-section h1 .custom-color{
    display: inline-block;
    position: relative;
    padding: 0px 4px;
    z-index: 2;
}
.hero-section h1 .custom-color::after{
    content: '';
    position: absolute;
    display: inline-block;
    bottom: -6px;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 26px;
    background-color: var(--primary);
}

.custom-color{
    display: inline-block;
    position: relative;
    padding: 0px 4px;
    z-index: 2;
}

h2 .custom-color::after{
    content: '';
    position: absolute;
    display: inline-block;
    bottom: -2px;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: var(--primary);
}

.hero-section h1{
    position: relative;
}

.hero-short-brief{
    margin-top: 23px;
    max-width: 744px;
    margin-left: auto;
    margin-right: auto;
    line-height: 28.8px;
}

.voter-animation img,
.elector-animatio img,
.candidate-animation img,
.no-profit-animation img{
    width: 66px;
    height: 66px;
}

.voter-animation,
.elector-animation{
    display: inline-block;
    z-index: 11;
    position: absolute;
    top: 40px;
    transition: top 1.5s ease-out;
}

.no-profit-animation,
.candidate-animation{
    position: absolute;
    display: inline-block;
    z-index: 11;
    top: 25px;
    transition: top 1.5s ease-out;
}

.candidate-animation{
    left: 35px;
}

.no-profit-animation{
    right: 35px;
}

.voter-animation::after{
    content: 'Voter';
    width: 45px;
    height: 25px;
}

.elector-animation::after{
    content: 'Elector';
    width: 64px;
    height: 26px;
}

.candidate-animation::after{
    content: 'Candidate';
    width: 84px;
    height: 26px;
}

.no-profit-animation::after{
    content: 'No-Profit';
    width: 63.49px;
    height: 24px;
}

.voter-animation::after,
.elector-animation::after,
.no-profit-animation::after,
.candidate-animation::after{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 10px;
    line-height: 160%;
    color: var(--dark);
    background: #FFFFFF;
    border-radius: 41.6667px;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
}

.voter-animation{
    left: -8vw;
}

.elector-animation{
    right: -8vw;
}

.request-demo{
    text-align: center;
    margin-top: 23px;
}

.request-demo a{
    background-color: var(--primary);
    padding: 17px 30px;
    border-radius: 4px;
    display: inline-block;
}

.hero-images{
    position: relative;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.campaign-image{
    position: absolute;
    top: 443px;
    left: 8px;
    transition: top 1.5s ease-out;
}

.mobile-frame{
    position: absolute;
    top: 254px;
    right: 21px;
    transition: top 1.5s ease-out;
}

.mobile-gif{
    position: relative;
}

.gif-content{
    position: absolute;
    top: 35px;
    left: 19px;
    width: 206px;
    /* height: 408px; */
}

.main-content{
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 20px;
}

.brand-section{
    margin-top: 80px;
}

.brand-container{
    display: flex;
    gap: 30px;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    height: 120px;
    flex-wrap: nowrap;
}

.brand-container .short-title{
    line-height: 28px;
    flex-basis: 288px;
}

.mobile-border{
    width: 244px;
}

.brand-list{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    overflow-x: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
}

.brand-list::-webkit-scrollbar {
    display: none;
}

.brand-list img{
    max-width: 155px;
}

.index-header{
    height: 1279px;
}

.vertical-line span{
    width: 1px;
    height: 100%;
    background-color: var(--border);
    display: inline-block;
}

.service-section h2{
    max-width: 901px;
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
    color: var(--dark);
}

.service-list{
    display: flex;
    margin-top: 60px;
    gap: 22px;
}

.service-list .service-item{
    padding: 22px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.service-list .service-item div a i{
    padding-left: 6px;
}

.service-list .political-parti{
    background-color: var(--light-green);
}
.service-list .non-profit{
    background-color: var(--light-purple);
}
.service-list .elected-office{
    background-color: var(--light-red);
}

.why-choose{
    background-color: var(--bg-primary-dark);
    color: white !important;
    padding: 40px 50px 53px;
}

.why-choose h3, .why-choose div, .why-choose p, .why-choose h6{
    color: white !important;
}

.why-choose-options{
    margin-top: 60px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.why-choose-item{
    display: flex;
    gap: 15px;
    flex-basis: 430px;
    align-items: center;
}

.why-choose-item.remote{
    flex-basis: 233px;
}

.why-choose-item .desc-icon{
    display: inline-flex;
    width: 75px;
    height: 75px;
    align-items: center;
    justify-content: center;
    background-color: var(--light-red);
    border-radius: 4px;
}

.why-choose-item  .solid-base{
    background-color: var(--light-red);
}

.why-choose-item  .collaborate{
    background-color: var(--light-orange);
}

.why-choose-item  .work-remote{
    background-color: var(--light-purple);
}
.why-choose-item  .limit-access{
    background-color: var(--light-green);
}
.why-choose-item  .automize-task{
    background-color: var(--light-green-2);
}

.features{
    background-color: var(--light-green);
}

.feature-content{
    padding-top: 80px;
    padding-bottom: 80px;
}

.feature-content h2{
    max-width: 996px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.feature-content h2 .custom-color::after{
    bottom: 1.5px;
}
.feature-tabs{
    position: relative;
    margin-top: 60px;
}

.feature-tabs .tab-header{
    background: #F6F6F9;
    border-bottom: 1px solid var(--border);
    border-radius: 4px 4px 0px 0px;
    display: flex;
    z-index: 1;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

.feature-tabs .tab-header .arrow-left{
    position: absolute;
    left: 0px;
    padding: 10px;
    background-color: white;
    color: var(--dark);
    top: 50%;
    z-index: 2;
    cursor: pointer;
    transform: translateY(-50%);
}

.feature-tabs .tab-header .arrow-right{
    position: absolute;
    right: 0px;
    padding: 10px;
    cursor: pointer;
    background-color: white;
    z-index: 2;
    color: var(--dark);
    top: 50%;
    transform: translateY(-50%);
}

.feature-tabs .tab-header > div {
    position: relative;
    text-align: center;
    z-index: 2;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    color: var(--body-font);
}
.tab-name{
    font-family: 'GeneralSans-Variable';
    font-size: 16px;
    line-height: 22.4px;
}
.feature-tabs .tab-header > div.active{
    color: var(--dark);
}
.feature-tabs .tab-indicator{
    position: absolute;
    width: calc(14.29%);
    height: 2px;
    background-color: var(--bg-primary-dark);
    top: 78px;
    left: 0px;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}

.feature-tabs .tab-body{
    position: relative;
    background: white;
    height: 520px;
    overflow: hidden;
}
.feature-tabs .tab-body > div{
    position: absolute;
    opacity: 0;
    top: 100%;
    transform: translateY(-10px);
    transition: opacity 0.5s ease-in-out,
                transform 0.5s ease-in-out;
}
.feature-tabs .tab-body > div.active{
    transform: translateY(0px);
    top: 0px;
    opacity: 1;
}
.feature-tabs .tab-body h1{
    color: #222;
    margin-bottom: 10px;
}

.tab-body-item{
    display: flex;
    align-items: center;
    gap: 50px;
}

.active-members-dashboard{
    height: calc(520px);
    display: flex;
    align-items: center;
    min-width: 548px;
}

.service-desc h3{
    margin-top: 15px;
    margin-bottom: 25px;
}

.feature-list-content{
    background-color: var(--white-200);
    border-radius: 4px;
    padding: 35px;
    position: relative;
    display: flex;
    gap: 45px;
    align-items: center;
}

.feature-list-content h2{
    margin-top: 30px;
    margin-bottom: 30px;
}


.features-list .feature-list-shadow{
    position: absolute;
    height: 100%;
    background: linear-gradient(270.34deg, #F6F6F9 19.6%, rgba(246, 246, 249, 0) 92.95%);
    right: 0;
    top: 0;
    width: 32.70%;
}

.features-list .feature-list-shadow img{
    max-height: 100%;
}

.testimonial h2 span.custom-color::after{
    bottom: 3px;
}

.testimonial-item{
    display: flex;
    gap: 40px;
    max-width: 1053px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    align-items: center;
}

.testimonial-item .actor-image{
    background-color: var(--light-green);
}

.testimonial-item .actor-image img{
    min-width: 395px;
}

.testimonial-item .ratings{
    display: flex;
    gap: 10px;
    color: var(--primary);
}

.review-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.slider-button{
    display: flex;
    gap: 15px;
    position: absolute;
    bottom: 0;
    left: 435px;
}

.slider-button button{
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid var(--border);
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.get-ready-wrapper{
    max-width: 1053px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('..//resources/images/color-ful-bg.svg');
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    padding: 0 70px;
}

.get-ready-wrapper h3{
    color: white;
}

p.regular.light-green{
    color: var(--light-green);
}

.get-ready-body{
    max-width: 511px;
}

.recent-news-list{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.blog-type-btn button{
    color: var(--bg-primary-dark);
    line-height: 25.6px;
    border: none;
    padding: 3px 20px;
    background-color: var(--light-green);
    border-radius: 2px;
}

.recent-news-item{
    border: 1px solid var(--border);
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: 395px;
    gap: 15px;
    border-radius: 4px;
}

.recent-news-item a i{
    margin-left: 7px;
}
.service-item.request-demo-section{
    padding-top: 60px;
    background-color: var(--light-green-2);
    border-radius: 4px;
    gap: 50px;
    display: none;
}

.reveal .hero-main-dh-img{
    transition: transform 1.5s ease-out;
}

.reveal.active .hero-main-dh-img{
    transform: translateY(35px);
}

.reveal.active .campaign-image{
    top: 428px;
}

.service-item img{
    transition: transform 0.5s ease-out;
}

.service-list .service-item div a i,
.recent-news-item a i{
    transition: padding 0.3s ease-out;
}

.service-list .service-item div a:hover i,
.recent-news-item a:hover i{
    padding-left: 13px;
}

.service-item img:hover{
    transform: scale(1.1);
}

.reveal.active .voter-animation, 
.reveal.active .elector-animation{
    top: 55px;
}

.reveal.active .no-profit-animation,
.reveal.active .candidate-animation {
    top: 40px;
}

.reveal.active .mobile-frame{
    top: 234px;
}