.login-container{
    height: 100vh;
    display: flex;
}

.login-container .left{
    flex-basis: 972px;
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container .right{
    flex-basis: 948px;
    flex-grow: 1;
    background-color: var(--client);
    width: 100%;
    height: 100%;
    position: relative;
}
.login-tite a img{
    height: 22px;
}
#submitCode #secondCount{
    line-height: 16px;
}
#conitueLogin,
#submitCode {
    color: white !important;
}
.login-container .right .top h1{
    color: white !important;
}

.login-hero-border{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    z-index: 3;
    height: 100%;
    max-height: 100%;
}
.login-box .login-tite{
    margin-bottom: 49px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.login-box p.button-text{
    margin-bottom: 14px;
    line-height: 16px !important;
}
.login-box .otc{
    margin-bottom: 15px;
}
.login-box input{
    margin-bottom: 15px;
    display: block;
    min-width: 387px;
}
.continue-login,
.continue-login-code {
    padding: 17px 139px;
    width: 100%;
    background-color: var(--client);
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    color: var(--dark);
}
.login-box .sign-up-mesg{
    display: none;
}
.sign-up-mesg{
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 387px;
}

.resend-code-msg p{
    font-size: 14px;
    line-height: 22.4px;
    margin-top: 15px;
}

button .second-count{
    font-size: 12px;
    font-weight: 400;
    padding-left: 1px;
    line-height: 12px;
}

.sign-up-mesg p a{
    text-decoration: underline !important;
    color: var(--bg-primary-dark);
    padding-left: 7px;
}
.resend-code-msg p a{
    text-decoration: underline !important;
    color: var(--bg-primary-dark);
    padding-left: 5px;
    font-size: 14px;
}
.right-inner-content{
    padding-left: 100px;
    padding-top: 150px;
    padding-bottom: 90px;
    display: flex;
    height: 100%;
    position: relative;
    z-index: 5;
    flex-direction: column;
    justify-content: space-between;
}
.right-inner-content .top .switch{
    background: rgba(255, 255, 255, 0.4);
    height: 46px;
    display: inline-flex;
    padding: 8px;
    padding-right: 19px;
    gap: 11px;
    align-items: center;
}
.right-inner-content .top .switch span:first-child{
    background: #FFFFFF;
    color: var(--dark);
    padding: 7px 15px;
    line-height: 16px;
}

.right-inner-content .top h1{
    max-width: 293px;
    margin-top: 22px;
}

.recomendation{
    max-width: 425px;
}

.quote-right{
    text-align: right;
    margin-bottom: 10px;
}
p.quote-text{
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: var(--dark);
}

.quote-persion{
    display: flex;
    align-items: center;
    margin-top: 23px;
    gap: 9.83px;
}

.quote-persion .button-text{
    line-height: 16px;
    margin-bottom: 1px;
}
p.pod-name{
    line-height: 22.4px;
    font-size: 14px;
    color: var(--dark);
}

/* 6 didgit code */
.otc {
	position: relative;
	margin: 0 auto;
}

.otc fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

.otc fieldset div {
	display: flex;
	align-items: center;
    gap: 14px;
}

.otc legend {
	margin: 0 auto 1em;
	color: #5555FF;
}

.otc input[type="number"] {
	width: 53px;
    font-weight: 400;
    height: 50px;
    color: var(--dark);
	margin: 0px;
	padding: 8px 0 4px;
	font-size: 20px;
    line-height: 20px;
	text-align: center;
	appearance: textfield;
	-webkit-appearance: textfield;
	border-radius: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 2 group of 3 items */
input[type="number"]:nth-child(n+4) {
	order: 2;
}
/* .otc div::before {
	content: '';
	height: 2px;
	width: 24px;
	margin: 0 .25em;
	order: 1;
	background: #BBBBFF;
} */

/* From: https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034 */
.otc label {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

form fieldset input{
    min-width: auto !important;
}