.index-header{
    border-bottom: 1px solid var(--border);
}

.party-hero-section{
    height: 714px;
    margin-top: 90px;
    margin-bottom: 90px;
}

.party-main-section-divider{
    margin-top: 90px;
}

.party-main-section-divider-p{
    padding-top: 80px;
    padding-bottom: 80px;
}

.party-hero-short-bf{
    max-width: 553px;
    margin-bottom: 33px;
}
.party-hero-wrapper h2{
    max-width: 576px;
    margin-bottom: 25px;
}
.party-hero-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}

.party-hero-list-details{
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.solition-short-statistics ul,
.potemtial-party-candidate-needs-list ul{
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.solition-short-statistics ul li{
    display: block;
    padding-left: 10px;
    position: relative;
}

.potemtial-party-candidate-needs-list ul li{
    display: block;
    padding-left: 60px;
}

.potemtial-party-candidate-needs-list ul li:first-child::before{
    content: url(../resources/images/easy-to-use-platform-logo.svg);
    position: absolute;
    left: 0;
    width: 40px;
    display: inline-block;
}

.potemtial-party-candidate-needs-list ul li:last-child::before{
    position: absolute;
    content: url(../resources/images/saclable-secure-logo.svg);
    left: 0;
    width: 40px;
    display: inline-block;
}

.solition-short-statistics ul li:first-child::before{
    font-family: "Font Awesome 5 Free";
    content: "\f005";
    font-weight: 900;
    position: absolute;
    left: -30px;
    display: inline-block;
    font-size: 25px;
    top: 5px;
}

.solition-short-statistics ul li:last-child::before{
    font-family: "Font Awesome 5 Free";
    content: "\f007";
    font-weight: 900;
    position: absolute;
    left: -30px;
    top: 5px;
    display: inline-block;
    font-size: 25px;
}

.party-hero-list-details li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    border-radius: 50%;
    position: absolute;
    left: 0;
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
}

.party-hero-illustration{
    position: relative;
}

.party-hero-right-abs {
    position: absolute;
    top: 65%;
    right: 22px;
    left: -153px;
}

.brand-list-header{
    text-align: center;
}

.party-dashborad-illustration{
    position: relative;
}

.party-hero-mobile-dashboard {
    position: absolute;
    right: -94px;
    top: 20%;
    max-height: 375px;
}

.party-hero-feature-img{
    max-width: 624px;
}

.brand-list::-webkit-scrollbar {
    display: none;
}

.brand-list img{
    max-width: 155px;
}

h5.brand-list-header{
    margin-bottom: 50px;
}

.party-brand-list-section{
    padding-top: 20px;
}

.aliquam-request-demo{
    background: url(../resources/images/aliquam-request-demo-bg.svg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding: 70px 0px;
}

.aliquam-request-demo-wrapper{
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
}

.aliquam-request-demo-wrapper-heading{
    flex-basis: 744px;
}

.party-request-demo{
    flex-basis: 210px;
}

.party-request-demo a{
    display: inline-block;
    background-color: white;
    padding: 17px 30px;
    gap: 10px;
    border-radius: 4px;
}

.party-robot-call-section,
.party-call-section,
.party-data-pool-section,
.parti-live-communication-wrapper,
.parti-create-email-campaign-section{
    padding: 80px 0px;
}

.party-robot-call-section{
    background-color: var(--light-green-2);
}

.party-call-section{
    background-color: var(--light-red);
}

.party-data-pool-section{
    background-color: var(--light-orange);
}

.party-robot-call-wrapper{
    display: flex;
    gap: 30px;
    align-items: center;
    gap: 50px;
    justify-content: center;
}

.robot-call-tab-illustration{
    flex-basis: 398px;
}

.party-robot-call-details{
    flex-basis: 490px;
}

.party-robot-call-details h2{
    margin-bottom: 10px;
}

.party-key-features-header{
    text-align: center;
    max-width: 752px;
    margin-left: auto;
    margin-right: auto;
}

.party-key-features-list{
    display: flex;
    flex-direction: column;
    gap: 55px;
    margin-top: 50px;
}

.party-key-features-section{
    background-color: var(--white-200);
}

.party-key-features-item{
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
    padding: 65px 60px 40px;
}

.party-key-features-desc{
    flex-basis: 519px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.party-key-features-illustration{
    flex-basis: 543px;
}

.party-key-features-illustration img{
    max-height: 418px;
}

.party-key-feature-logo{
    padding-bottom: 7px;
}

.party-key-features-item:nth-child(even) .party-key-features-illustration{
    order: 1;
    text-align: center;
}

.party-key-features-item:nth-child(even) .party-key-features-desc{
    order: 2;
}

.parti-live-communication-section{
    background-color: var(--light-green);
}

.parti-live-communication-wrapper,
.parti-create-email-campaign-wrapper{
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.parti-live-communication-desc{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: 516px;
}

.parti-live-communication-illustration{
    flex-basis: 849px;
}

.parti-create-email-campaign-section{
    background-color: var(--light-orange);
}

.parti-create-email-campaign-desc{
    flex-basis: 516px;
}

.parti-create-email-campaign-illustration{
    flex-basis: 699px;
    text-align: center;
}

.potemtial-party-candidate-needs{
    display: flex;
    gap: 30px;
}

.democratic-solution{
    background-color: var(--primary);
    padding: 50px 40px;
    flex-basis: 408px;
    display: flex;
    align-items: center;
}

.democratic-solution h4.solution-title{
    margin-bottom: 40px;
    font-weight: 600;
}

.potemtial-party-candidate-needs-desc{
    background-color: var(--white-200);
    flex-basis: 841px;
    padding: 50px 40px;
    display: flex;
    align-items: center;
}

.potemtial-party-candidate-needs-main-title{
    margin-bottom: 35px;
}

.potemtial-party-candidate-needs-list h6{
    margin-bottom: 8px;
}

.custom-color{
    display: inline-block;
    position: relative;
    padding: 0px 4px;
    z-index: 2;
}

h2 .custom-color::after{
    content: '';
    position: absolute;
    display: inline-block;
    bottom: -2px;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: var(--primary);
}

.get-ready-wrapper{
    max-width: 1053px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('..//resources/images/color-ful-bg.svg');
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    padding: 0 70px;
}

.get-ready-wrapper h3{
    color: white;
}

p.regular.light-green{
    color: var(--light-green);
}

.get-ready-body{
    max-width: 511px;
}
.brand-list-loop-wrapper{
    overflow: hidden;
    position: relative;
    flex-grow: 1;
    height: 45px;
}
.brand-list{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    gap: 75.76px;
    position: absolute;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
    left: 100%;
    width: 100%;
    animation: autoLoop 24s linear infinite;
    white-space: nowrap;
}
.brand-list-2 {
    animation-delay: 12s;
    padding-left: 75.76px;
}
@keyframes autoLoop {
    0% {
      left: 100%;
    }
    100% {
      left: -100%
    }
  }
