input.error{
    border-color: red;
    outline-color: red;
}

span.error{
    color: red;
}

.font-weight-bold{
    font-weight: bold;
}

a{
    cursor: pointer;
}

.page-title{
    font-size: 24px;
    font-weight: 500;
}

.ml-auto{
    margin-left: auto !important;
}

.default-btn:hover{
    outline: 2px solid #E8E7EE;
}

.default-btn{
    color: var(--body-font);
    background: #FFFFFF;
    outline: 1px solid #E8E7EE;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    padding: 10px 0px;
    border-radius: 4px;
    font-size: 14px;
}

.back-btn{
    padding: 5px 18px;
}

.btn{
    color: white;
    border-radius: 4px;
    font-size: 14px;
    line-height: 14px;
    padding: 15px 10.5px;
}

.btn-primary{
    background: var(--primary);
    border: none !important;
}

.btn-primary:not(:disabled):hover{
    outline: 2px solid var(--primary) !important;
}

.btn-primary:not(:disabled):hover{
    background: var(--primary);
}  

.btn-primary:not(:disabled):focus{
    background: var(--primary);
    box-shadow: unset;
} 

.btn-primary:active:not(:disabled):hover{
    box-shadow: none !important;
}

.btn-primary:active{
    background: var(--primary);
    box-shadow: none !important;
    border: none;
}

.btn-primary:disabled{
    background: rgba(var(--primary_rgb), 0.4);
    cursor: not-allowed;
}

.mt-auto{
    margin-top: auto !important;
}